#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
global:
  resolve_timeout: 3m
templates:
- '/etc/alertmanager/templates/*.tmpl'

{% if alertmanager_receivers | length %}
receivers:
{{ alertmanager_receivers | to_nice_yaml(indent=2) }}
{% endif %}

route:
  {{ alertmanager_route | to_nice_yaml(indent=2) | indent(2, False) }}

time_intervals:
- name: businesshours
  time_intervals:
  - times:
    - end_time: '18:00'
      start_time: 09:00
    weekdays:
    - monday:friday
