---
# yaml-language-server: $schema=https://github.com/yannh/kubernetes-json-schema/raw/master/v1.27.4-standalone-strict/statefulset-apps-v1.json
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: &name bedroom-base-skills
  namespace: voiceassistant
spec:
  serviceName: *name
  replicas: 1
  selector:
    matchLabels:
      app: *name
  template:
    metadata:
      labels:
        app: *name
    spec:
      containers:
        - name: skill-wikipedia
          image: docker.io/smartgic/ovos-skill-wikipedia:0.0.8a
          env: &base-env
            - name: TZ
              value: Europe/Berlin
            - name: HOME
              value: /home/ovos
          volumeMounts: &skill-mnt
            - name: ovos-mycroft-config
              mountPath: /home/ovos/.config
              subPath: bedroom-skills/config
            - name: ovos-mycroft-config
              mountPath: /home/ovos/.local/share
              subPath: bedroom-skills/share
            - name: ovos-tmp
              mountPath: /tmp/mycroft
        - name: skill-weather
          image: docker.io/smartgic/ovos-skill-weather:0.0.8a
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-volume
          image: docker.io/smartgic/ovos-skill-volume:0.0.8a
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-date-time
          image: docker.io/smartgic/ovos-skill-date-time:0.0.8a
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-stop
          image: docker.io/smartgic/ovos-skill-stop:0.0.8a
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-personal
          image: docker.io/smartgic/ovos-skill-personal:0.0.8a
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-fallback-unknown
          image: docker.io/smartgic/ovos-skill-fallback-unknown:0.0.8a
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-hello-world
          image: docker.io/smartgic/ovos-skill-hello-world:0.0.8a
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-alerts
          image: docker.io/smartgic/ovos-skill-alerts:0.0.8a
          volumeMounts: *skill-mnt
          env: *base-env
        #- name: skill-wolfie
        #  image: docker.io/smartgic/ovos-skill-wolfie:alpha@sha256:0e9efed88854bddda70dc1d89a662eeae03a993b5b34f3f8c96cb532f6926cbc
        #  volumeMounts: *skill-mnt
        #  env: *base-env
        - name: skill-jokes
          image: docker.io/smartgic/ovos-skill-jokes:alpha@sha256:85807f2e917c5e78c1582ab71a9b9fd89450a3a1933488e976f3f6aaae2712f3
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-homeassistant
          image: ghcr.io/ramblurr/skill-homeassistant-dev:rolling@sha256:bd3bdcb797cbb519d57e7a1222f16430a2f75dc5ada88a0e5ec4c65749878ac8
          volumeMounts: *skill-mnt
          env: *base-env
        - name: skill-chatgpt
          image: ghcr.io/ramblurr/skill-ovos-fallback-chatgpt-dev:rolling@sha256:0b93b0853b9aad6b4b5977cccb3318c4f5bc8a3a5f25b77361d376b8de371a47
          volumeMounts: *skill-mnt
          env: *base-env

      volumes:
        - name: ovos-mycroft-config
          persistentVolumeClaim:
            claimName: ovos-data-nfs
        - name: ovos-tmp
          emptyDir: {}
      securityContext:
        fsGroup: 2000
        runAsGroup: 2000
        runAsUser: 1000
