---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: downloads-gateway
  namespace: vpn
spec:
  interval: 30m
  chart:
    spec:
      chart: pod-gateway
      version: 6.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system

  values:
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.10.0@sha256:d728eac85f750b37c96a0dafd038561ea4b8035857802be1128ea9b19c61e181

    DNS: 172.16.1.1

    service:
      vpn:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: "${SVC_SHADOWSOCKS}"
        ports:
          shadowsocks:
            enabled: true
            port: 8388

    addons:
      vpn:
        enabled: true
        type: gluetun
        image:
          repository: ghcr.io/qdm12/gluetun
          tag: v3.36.0@sha256:011bea4f0743864d4eda5a569217a6fe18e3a52f5d6df31b4ceb9f7763bfbf6b
        env:
          - name: VPN_SERVICE_PROVIDER
            value: mullvad
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_INTERFACE
            value: wg0
          - name: SHADOWSOCKS
            value: "on"
          # Currently need this in K8s to hit Cluster DNS for lookup
          - name: FIREWALL
            value: "off"
          # Currently need this in K8s to hit Cluster DNS for lookup
          - name: DOT
            value: "off"
          - name: SERVER_CITIES
            value: Zurich
          - name: WIREGUARD_PRIVATE_KEY
            valueFrom:
              secretKeyRef:
                name: downloads-gateway-vpnconfig
                key: WIREGUARD_PRIVATE_KEY
          - name: WIREGUARD_ADDRESSES
            valueFrom:
              secretKeyRef:
                name: downloads-gateway-vpnconfig
                key: WIREGUARD_ADDRESSES
        resources:
          requests:
            cpu: 5m
            memory: 64M
          limits:
            memory: 64M
        securityContext:
          capabilities:
            add:
              - NET_ADMIN

      netshoot:
        enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 10M
          limits:
            memory: 10M

    podAnnotations:
      configmap.reloader.stakater.com/reload: downloads-gateway-pod-gateway
      secret.reloader.stakater.com/reload: downloads-gateway-vpnconfig

    publicPorts:
      - IP: 10
        hostname: qbittorrent
        ports:
          - port: ${SECRET_QBITTORRENT_PORT}
            type: udp
          - port: ${SECRET_QBITTORRENT_PORT}
            type: tcp
    # Needed to get CoreDNS IP listed in /etc/resolv.conf for NAS DNS lookup when mounting SMB share
    DNSPolicy: ClusterFirst
    routed_namespaces:
      - downloads

    settings:
      NOT_ROUTED_TO_GATEWAY_CIDRS: 10.0.0.0/8 192.168.0.0/16
      VPN_BLOCK_OTHER_TRAFFIC: true
      VPN_INTERFACE: wg0
      VPN_LOCAL_CIDRS: 10.0.0.0/8 192.168.0.0/16
      VPN_TRAFFIC_PORT: "51820"
      VXLAN_ID: 43
      VXLAN_IP_NETWORK: 172.16.1

    webhook:
      gatewayAnnotation: setGateway
      gatewayDefault: false
      gatewayLabel: setGateway
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.10.0@sha256:a8ed630613de277244dfe203cd11d05905d7eeba8d8c41e399b02ee9a847b2f5
