archive
coredns-*-arm
*.crt
*.dec
.decrypted~*.yaml
.dec~*.yaml
*.disabled
.DS_Store
.esphome
/flux
generated_values.yaml
github-deploy.key.*
.highflux
.idea/
*.img
*.iso
*.key
kubeconfig
.logs/
node_modules
packer_cache
.pio*
.private/
server/ansible/inventory/e2e/hosts.yml
pki/certs
!pki/certs/.gitkeep
talos/*/*/charts
talosconfig
.task/
.temp*
.terraform
.terraform*
*.tfstate*
Thumbs.db
venv
.vscode/
xanmanning.k3s*
*.xz
.python-version
