---
cluster_name: cluster-test
cluster_domain: cluster-test.mgmt.socozy.casa
cluster_id: 0
cluster_ntp_server: 192.168.1.1
cluster_nameservers: "{{ local_nameservers | split (' ') }}"
cluster_node_vlan_cidr_suffix: "{{ cidr_data_suffix }}"
cluster_node_vlan_tag: "{{ data_id }}"
cluster_node_vlan_gateway: "{{ data_gateway }}"
cluster_node_bgp_peer: 192.168.1.1
cluster_networks:
  - data
  - mgmt

_data_net: &data_net
  tag: "{{ data_id }}"
  network_name: data
  network_bridge: vmbr0
  mtu: 9000
  routeMetric: 2048

_mgmt_net: &mgmt_net
  tag: "{{ mgmt_id }}"
  network_name: mgmt
  network_bridge: vmbr1
  mtu: 1500

cluster_guest_agent_enabled: 0
cluster_control_plane_nodes:
  cp0:
    idx: 0
    vmid: 301
    target_node: ibnsina
    ifaces:
      data:
        <<: *data_net
        ip: 10.9.10.101
        macaddr: "1a:10:50:00:00:00"
      mgmt:
        <<: *mgmt_net
        ip: 10.9.9.101
        macaddr: "1a:10:50:00:10:00"
  cp1:
    idx: 1
    vmid: 302
    target_node: debord
    ifaces:
      data:
        <<: *data_net
        ip: 10.9.10.102
        macaddr: "1a:10:50:00:00:01"
      mgmt:
        <<: *mgmt_net
        ip: 10.9.9.102
        macaddr: "1a:10:50:00:10:01"
  cp2:
    idx: 2
    vmid: 303
    target_node: peirce
    ifaces:
      data:
        <<: *data_net
        ip: 10.9.10.103
        macaddr: "1a:10:50:00:00:02"
      mgmt:
        <<: *mgmt_net
        ip: 10.9.9.103
        macaddr: "1a:10:50:00:10:02"
cluster_apiserver_addr: 10.9.9.100
cluster_node_cidr: "{{ cidr_mgmt }}"
cluster_net_pod_cidr: 10.44.0.0/16
cluster_net_svc_cidr: 10.45.0.0/16
cluster_net_lb_ext_cidr: 10.10.10.0/23
cluster_net_lb_ext_usable_range: "{{  ( cluster_net_lb_ext_cidr | ansible.utils.usable_range).usable_ips[1:-1] }}"
cluster_net_lb_ext_range: "{{ cluster_net_lb_ext_usable_range | first }}-{{ cluster_net_lb_ext_usable_range | last }}"
cluster_svc_ingress_addr: 10.10.10.1
cluster_svc_postgress_addr: 10.10.10.2
cluster_svc_k8s_gateway_dns_addr: 10.10.10.53
cluster_default_storage_class: test-k8s-storage
cluster_default_storage_class_cephfs: test-k8s-cephfs
cluster_node_boot_disk_storage_pool: test-vms
cluster_node_boot_disk_size: 100G
cluster_node_network_bridge: vmbr0
cluster_node_iso_image_location: "mali-tank2:iso/talos-amd64.iso"
control_plane_ifaces_mgmt: >-
  {{ cluster_control_plane_nodes | dict2items | map(attribute='value') | map(attribute='ifaces') | map(attribute='mgmt') }}
control_plane_ips_mgmt: >-
  {{ control_plane_ifaces_mgmt | map(attribute='ip') }}
control_plane_ifaces_data: >-
  {{ cluster_control_plane_nodes | dict2items | map(attribute='value') | map(attribute='ifaces') | map(attribute='data') }}
control_plane_ips_data: >-
  {{ control_plane_ifaces_data | map(attribute='ip') }}
