---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  - ./notifications.yaml
  # Flux-Kustomizations
  - ./invoiceninja-storage-pvc/ks.yaml
  - ./invoiceninja-public-pvc/ks.yaml
  - ./invoiceninja/ks.yaml
