rule = {
  matches = {
    {
      { "node.name", "equals", "alsa_output.platform-bcm2835_audio.stereo-fallback" },
    },
  },
  apply_properties = {
    ["device.disabled"] = true,
    ["node.description"] = "snd_rpi_builtin"
  },
}

table.insert(alsa_monitor.rules,rule)

rule1 = {
  matches = {
    {
      { "node.name", "equals", "alsa_output.platform-soc_sound.stereo-fallback" },

    },
  },
  apply_properties = {
      ["node.description"] = "snd_rpi_hifiberry_dacplus_sink"
  },
}

table.insert(alsa_monitor.rules,rule1)
rule2 = {
  matches = {
    {
      { "node.name", "equals", "alsa_input.platform-soc_sound.stereo-fallback" },

    },
  },
  apply_properties = {
      ["node.description"] = "snd_rpi_hifiberry_dacplus_source"
  },
}

table.insert(alsa_monitor.rules,rule2)
