---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: stt-fasterwhisper
  namespace: voiceassistant
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 0
  upgrade:
    remediation:
      retries: 0
  values:
    image:
      repository: ghcr.io/ramblurr/ovos-stt-plugin-fasterwhisper-dev
      tag: rolling@sha256:bf570667db0ed75a0ec7abc01752d30e43d7b2a990e6a7c6615904f66f590f12
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        ingressClassName: nginx-internal-voiceassistant
        annotations:
          hajimari.io/enable: "false"
          nginx.ingress.kubernetes.io/proxy-body-size: 100M
          nginx.ingress.kubernetes.io/proxy-buffering: "off"
        hosts:
          - host: &host stt-fasterwhisper.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podAnnotations:
      reloader.stakater.com/auto: "true"
    persistence:
      ovos-tmp:
        enabled: true
        type: emptyDir
        mountPath: /.cache
