cluster-test-cp1.cluster-test.mgmt.socozy.casa.yaml
cluster-test-cp2.cluster-test.mgmt.socozy.casa.yaml
cluster-test-cp3.cluster-test.mgmt.socozy.casa.yaml
cluster-test-cp4.cluster-test.mgmt.socozy.casa.yaml
cluster-test-cp5.cluster-test.mgmt.socozy.casa.yaml
talosconfig
cluster-test-cp0.cluster-test.mgmt.socozy.casa.yaml
