---
all:
  children:
    bsd:
      children:
        truenas:
        jails:
    lxc:
      vars:
        ansible_user: root
        security_ssh_permit_root_login: "yes"
      hosts:
        tailscale0.int.socozy.casa:
    proxmox_creds:
      hosts:
        localhost:
      children:
        proxmox:
    proxmox:
      hosts:
        peirce.mgmt.socozy.casa:
          ip_address_mgmt: 10.9.8.18
          ip_address_data: 10.9.10.18
          proxmox_10gbe_iface: enp6s0
          proxmox_1gbe_iface: eno1
        ibnsina.mgmt.socozy.casa:
          ip_address_mgmt: 10.9.8.16
          ip_address_data: 10.9.10.16
          proxmox_10gbe_iface: enp6s0
          proxmox_1gbe_iface: eno1
        mill.mgmt.socozy.casa:
          ip_address_mgmt: 10.9.8.13
          ip_address_data: 10.9.10.13
          proxmox_10gbe_iface: enp6s0
          proxmox_1gbe_iface: eno1
        dewey.mgmt.socozy.casa:
          ip_address_mgmt: 10.9.8.14
          ip_address_data: 10.9.10.14
          proxmox_10gbe_iface: enp6s0
          proxmox_1gbe_iface: eno1
        debord.mgmt.socozy.casa:
          ip_address_mgmt: 10.9.8.21
          ip_address_data: 10.9.10.21
          proxmox_10gbe_iface: enp4s0
          proxmox_1gbe_iface: enp100s0
    k8s:
      hosts:
        cluster-test.mgmt.socozy.casa:
        cluster-prod.mgmt.socozy.casa:
    truenas:
      hosts:
        ludwig.int.socozy.casa:
    rpi:
      vars:
        ansible_user: pi
      hosts:
        pikvm.mgmt.socozy.casa:
          ansible_user: root
    ovos-mic-satellites:
      vars:
        ansible_python_interpreter: /usr/bin/python3
        ansible_user: ramblurr
      hosts:
        mic-sat-kitchen.iot.socozy.casa:
        mic-sat-bedroom.iot.socozy.casa:
    ovos-hivemind-satellites:
      vars:
        ansible_python_interpreter: /usr/bin/python3
        ansible_user: ramblurr
        backports_priority_enabled: true
        backports_priority: 500
      hosts:
        ovos-bedroom.int.socozy.casa:
        ovos-kitchen.int.socozy.casa:
    dns:
      hosts:
        ns1.int.socozy.casa:
          ansible_host: 192.168.1.3
          ansible_user: admin
        ns2.int.socozy.casa:
          ansible_host: 10.9.4.4
          ansible_user: pi
    cloudflare:
      # hosts that need access to cloudflare credentials
      children:
        proxmox:
        container_hosts:
    tailscale_router:
      hosts:
        tailscale0.int.socozy.casa:
    vyos:
      vars:
        ansible_user: vyos
        ansible_python_interpreter: /usr/bin/python3
      hosts:
        router0.int.socozy.casa:
          ansible_host: 192.168.1.1
