---
jail_release: 13.1-RELEASE
jails_resolver: "search {{ subdomain_int }} {{ personal_tld }} ;nameserver {{ local_nameservers }}"
jail_packages:
  - python3
  - ca_root_nss
  - bash
jail_properties_base:
  - { key: boot, val: "1" }
  - { key: vnet, val: "1" }
  - { key: exec_fib, val: "0" }
  - { key: bpf, val: "1" }
  - { key: mac_prefix, val: "022590" }
  - { key: resolver, val: "{{ jails_resolver }}" }
  - { key: vnet_default_interface, val: "auto" }
  - { key: vnet_interfaces, val: "none" }
jail_network_properties:
  mgmt:
    - { key: defaultrouter, val: "{{ mgmt_gateway }}" }
    - { key: interfaces, val: "vnet0:bridge{{mgmt_id}}" }
    - { key: host_domainname, val: "{{ subdomain_mgmt }}" }
  int:
    - { key: defaultrouter, val: "{{ prim_gateway }}" }
    - { key: interfaces, val: "vnet0:bridge{{prim_id}}" }
    - { key: host_domainname, val: "{{ subdomain_int }}" }
  none: []
...
