---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kubernetes-replicator
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: kubernetes-replicator
      version: 2.8.0
      sourceRef:
        kind: HelmRepository
        name: kubernetes-replicator-charts
        namespace: flux-system
      interval: 5m
  values:
    serviceAccount:
      create: true
      privileges:
        - apiGroups: ["", "apps", "extensions"]
          resources: ["secrets", "configmaps", "roles", "rolebindings",
                      "cronjobs", "deployments", "events", "ingresses", "jobs", "pods", "pods/attach", "pods/exec", "pods/log", "pods/portforward", "services"]
        - apiGroups: ["batch"]
          resources: ["configmaps", "cronjobs", "deployments", "events", "ingresses", "jobs", "pods", "pods/attach", "pods/exec", "pods/log", "pods/portforward", "services"]
    resources:
      limits:
        cpu: 100m
        memory: 512Mi
      requests:
        cpu: 100m
