---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: autoscan
  namespace: downloads
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: cloudb0x/autoscan
              tag: master
            env:
              PUID: 2000
              PGID: 100
            resources:
              requests:
                cpu: 5m
                memory: 34M
              limits:
                memory: 34M


    service:
      main:
        ports:
          http:
            port: 3030

    ingress:
      main:
        enabled: false

    persistence:
      config:
        existingClaim: autoscan-data
      config-file:
        type: secret
        name: autoscan-config-secret
        advancedMounts:
          main: # controller
            main: # container
            - path: /config/config.yml
              subPath: config.yml
              readOnly: true
