---
# {{ ansible_managed }}
jobs:
- name: pull_mali
  # pull mali to ludwig
  type: pull
  connect:
    type: tls
    address: "{{ personal_public_ip }}:3478"
    ca: "{{ zrepl_config_dir }}/mali.crt"
    cert: "{{ zrepl_config_dir }}/ludwig.crt"
    key:  "{{ zrepl_config_dir }}/ludwig.key"
    server_cn: "mali"
  recv:
    properties:
      override:
        mountpoint: none
        canmount: off
        readonly: on
    placeholder:
      encryption: inherit
  root_fs: "tank/replication/mali"
  interval: 10m
  pruning:
    keep_sender:
    - type: not_replicated
    - type: last_n
      count: 1
    - type: grid
      # of the last 24 hours keep all snapshots
      # of the last 7 days keep 1 snapshot each day
      # of the last 30 days keep 1 snapshot each day
      # of the last 6 months keep 1 snapshot each month
      # of the last 1 year keep 1 snapshot each year
      # discard the rest
      # details see: https://zrepl.github.io/configuration/prune.html#policy-grid
      grid: 1x24h(keep=all) | 7x1d(keep=1) | 30x1d(keep=1) | 6x30d(keep=1) | 1x365d(keep=1)
      regex: "^zrepl_.*"
    # !! keep snapshots not created by zrepl
    - type: regex
      negate: true
      regex: "^zrepl_.*"
    keep_receiver:
    - type: grid
      # of the last 24 hours keep all snapshots
      # of the last 7 days keep 1 snapshot each day
      # of the last 30 days keep 1 snapshot each day
      # of the last 6 months keep 1 snapshot each month
      # of the last 1 year keep 1 snapshot each year
      # discard the rest
      # details see: https://zrepl.github.io/configuration/prune.html#policy-grid
      grid: 1x24h(keep=all) | 7x1d(keep=1) | 30x1d(keep=1) | 6x30d(keep=1) | 1x365d(keep=1)
      regex: "^zrepl_.*"
    # keep snapshots not created by zrepl
    - type: regex
      negate: true
      regex: "^zrepl_.*"
  replication:
    concurrency:
      steps: 1
      size_estimates: 4
#- name: push_mali
#  # push ludwig to mali
#  type: push
#  connect:
#    type: tls
#    address: "{{ personal_public_ip }}:3478"
#    ca: /usr/local/etc/zrepl/mali.crt
#    cert: /usr/local/etc/zrepl/ludwig.crt
#    key:  /usr/local/etc/zrepl/ludwig.key
#    server_cn: "mali"
#  filesystems:
#    "tank<": true
#    "tank/.system<": false
#    "tank/replication": false
#  snapshotting:
#    type: periodic
#    interval: 60m
#    prefix: ludwigzrepl_
#  pruning:
#    keep_sender:
#    - type: not_replicated
#    - type: last_n
#      count: 1
#    - type: grid
#      grid: 1x1h(keep=all) | 24x1h | 14x1d
#      regex: "^ludwigzrepl_.*"
#    # keep snapshots not created by zrepl
#    - type: regex
#      negate: true
#      regex: "^ludwigzrepl_.*"
#    keep_receiver:
#    - type: grid
#      grid: 1x1h(keep=all) | 24x1h | 35x1d | 6x30d | 2x365d
#      regex: "^ludwigzrepl_.*"
#    # keep snapshots not created by zrepl
#    - type: regex
#      negate: true
#      regex: "^ludwigzrepl_.*"

global:
  control:
    sockpath: "{{ zrepl_control_sockpath }}"
  serve:
    stdinserver:
      sockdir: "{{ zrepl_stdinserver_sockdir }}"
  monitoring:
    - type: prometheus
      listen: ':9811'
      listen_freebind: true # optional, default false
