---
# {{ ansible_managed }}
jobs:
- name: mali_source
  type: source
  serve:
    type: tls
    listen: "{{ mali_prim_ip }}:3478"
    ca: /usr/local/etc/zrepl/ludwig.crt
    cert: /usr/local/etc/zrepl/mali.crt
    key:  /usr/local/etc/zrepl/mali.key
    client_cns:
    - ludwig
  filesystems: {
    "tank/iocage/backup<": true,
    "tank/iocage/jails<": true,
    "tank/.system<": false,
    "tank2<": true,
    "tank2/media/<": false,
    "tank2/replication<": false,
  }
  snapshotting:
    type: periodic
    interval: 6h
    prefix: zrepl_

#- name: ludwig_sink
#  root_fs: "tank2/replication/ludwig"
#  type: sink
#  serve:
#    type: tls
#    listen: "{{ mali_prim_ip }}:3478"
#    ca: /usr/local/etc/zrepl/ludwig.crt
#    cert: /usr/local/etc/zrepl/mali.crt
#    key:  /usr/local/etc/zrepl/mali.key
#    client_cns:
#      - ludwig
#  recv:
#    properties:
#      override:
#        mountpoint: none
#        canmount: off
#        readonly: on
#    placeholder:
#      encryption: inherit

global:
  monitoring:
    - type: prometheus
      listen: ':9811'
      listen_freebind: true # optional, default false
