{{ ansible_managed | comment }}
[borg_cloner]
# reserved for future use

[borgbase]
bb_token = {{ borgbase_token }}
bb_rsync_key_id = {{ borgbase_rsync_key_id }}
bb_alert_days = {{ borgbase_alert_days }}

# repos to backup
{% for repo in borgbackup_local_repos %}
[{{ repo.name }}]
prefix = {{ repo.name }}-
ssh_key_path = {{ repo.ssh_key_path }}
path = {{ repo.path }}
ignorelist = {{ repo.ignorelist }}
{% endfor %}
