---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: projectsend
  namespace: work
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: projectsend-mariadb
      namespace: work
  values:
    image:
      repository: lscr.io/linuxserver/projectsend
      tag: latest
    env:
      TZ: ${TZ}
      PUID: "2000"
      PGID: "2000"
      MAX_UPLOAD: 5000
    service:
      main:
        ports:
          http:
            port: 80
    persistence:
      data:
        enabled: true
        existingClaim: projectsend-appdata
        subPath:
          - path: config
            mountPath: /config
          - path: data
            mountPath: /data
    podSecurityContext:
      fsGroup: 2000
      fsGroupChangePolicy: "OnRootMismatch"
    ingress:
      main:
        enabled: true
        ingressClassName: nginx-internal
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:email-fast-outline
          hajimari.io/group: tools
          nginx.ingress.kubernetes.io/proxy-body-size: 5G
          external-dns.home.arpa/enabled: "true"
          external-dns.alpha.kubernetes.io/target: "ingress.${SECRET_DOMAIN_WORK}"
        hosts:
          - host: &host "send.${SECRET_DOMAIN_WORK}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: "${SECRET_DOMAIN_WORK_CERT_SECRET}"
