---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./external-dns/ks.yaml
  - ./ingress-nginx-internal/ks.yaml
  - ./ingress-nginx-external/ks.yaml
  - ./k8s-gateway/ks.yaml
  # Standard Resources
  - wildcard-certificate
