[defaults]
#interpreter_python = /usr/bin/python3
#interpreter_python = /var/home/ramblurr/vendor/pyenv/shims/python3
inventory = ./inventory/inventory.yml
callback_enabled = profile_tasks
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True
roles_path = ./roles/local:./roles/external
collections_path = ./collections
vars_plugins_enabled = host_group_vars,community.sops.sops
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

# Mitogen
#strategy_plugins = /var/home/ramblurr/vendor/mitogen/ansible_mitogen/plugins/strategy
#strategy = mitogen_linear

# SSH
pipelining = True
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
scp_if_ssh = True
