---
- name: VyOS local config generation
  hosts: localhost
  gather_facts: false
  roles:
    - name: rmblr.vyos_config_generate
  tags: [vyos-config]

- name: VyOS router setup
  hosts: vyos
  become: true
  gather_facts: false
  roles:
    - name: rmblr.vyos_setup

- name: TrueNAS setup
  hosts: truenas
  become: false
  tags: [truenas-setup]
  roles:
    - name: rmblr.truenas_setup
    - name: rmblr.truenas_zrepl
      tags: [zrepl]

- name: Proxmox nodes setup
  hosts: proxmox
  become: true
  gather_facts: true
  tags: [proxmox-setup]
  pre_tasks:
    - ansible.builtin.setup:
      tags: [always]
  roles:
    - role: rmblr.proxmox_setup
    - role: prometheus.prometheus.node_exporter
      tags: [node_exporter]

- name: Rasperry PI DNS build coredns
  # builds my flavor of coredns for arm systems
  hosts: dns-builder
  gather_facts: true
  become: true
  tags: [dns-build]
  roles:
    - role: rmblr.rpi_coredns_build

- name: Rasperry PI DNS nodes setup
  hosts: dns
  gather_facts: false
  become: true
  tags: [dns]
  pre_tasks:
    - ansible.builtin.import_tasks: tasks/wait-for-online-hosts.yml
    - setup:
      tags: [always]
  roles:
    - role: rmblr.rpi_coredns
    - role: prometheus.prometheus.node_exporter
      tags: [node_exporter]

- name: Raspberry Pi microphone satellites for OVOS Voice Assistant
  hosts: ovos-mic-satellites
  gather_facts: true
  become: true
  tags: [ovos-sats]
  tasks:
    - import_role:
        name: rmblr.ovos-common
      tags: [common]
    - import_role:
        name: rmblr.ovos-mic-sat
      tags: [sat]
    - import_role:
        name: rmblr.roc
      tags: [roc]

- name: OVOS Hivemind satellites
  hosts: ovos-hivemind-satellites
  gather_facts: true
  become: true
  tags: [hivemind-sats]
  tasks:
    - import_role:
        name: rmblr.ovos-common
      tags: [common]
    - import_role:
        name: rmblr.hivemind-sat
      tags: [sat]
