---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: searxng-redis
  namespace: downloads
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: "7"
            # yamllint disable rule:indentation
            command:
              [
                "redis-server",
                "--requirepass",
                "$(REDIS_PASSWORD)",
                "--save",
                "",
                "--appendonly",
                "no",
              ]
            # yamllint enable rule:indentation
            env:
              REDIS_REPLICATION_MODE: master
              REDIS_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: searxng-secret
                    key: REDIS_PASSWORD
    persistence:
      data:
        enabled: true
        existingClaim: searxng-redis-ceph
        globalMounts:
          - path: /data

    service:
      main:
        ports:
          http:
            port: 6379
