# {{ ansible_managed }}

# the following preferences are documented at
# https://dnf.readthedocs.org/en/latest/automatic.html

[commands]

apply_updates = {{ dnf_automatic_apply_updates }}
download_updates = {{ dnf_automatic_download_updates }}
upgrade_type = {{ dnf_automatic_upgrade_type }}
random_sleep = {{ dnf_automatic_random_sleep }}

[emitters]

emit_via = {{ dnf_automatic_emit_via }}
system_name = {{ dnf_automatic_system_name }}

[command]

command_format = {{ dnf_automatic_command_format }}
stdin_format = {{ dnf_automatic_stdin_format }}

[command_email]

command_format = {{ dnf_automatic_email_command_format }}
stdin_format = {{ dnf_automatic_email_stdin_format }}
email_from = {{ dnf_automatic_email_from }}
email_to = {{ dnf_automatic_email_to }}

[email]

email_from = {{ dnf_automatic_email_from }}
email_to = {{ dnf_automatic_email_to }}
email_host = {{ dnf_automatic_email_host }}

[base]

{% for key, value in dnf_automatic_base_overrides.items() %}
{{ key }} = {{ value }}
{% endfor %}
